<template>
    <div class="header">
        <img @click="menuMobile" class="menu_mobile" src="https://cdn2.iconfinder.com/data/icons/basic-ui-color/35/Menu-512.png" alt="menu movil">
        <img class="plerk-logo" src="https://www.plerk.io/assets/img/plerk_purple.svg" alt="logo de plerk">
        <div class="header_button">    
            <ul>
                <li><a href="https://www.plerk.io/#/platform">Plataforma</a></li>
                <li><a href="https://www.plerk.io/#/pricing">Precios</a></li>
              <li><a href="https://www.plerk.io/#/about-us"> Nosotros</a></li>
            </ul>     
            <input class="header_filter" type="text" v-model="search" placeholder="Buscar">
        </div>
        <div v-if="isActive == true" @click="close" ref="modal" class="modal_mobile">
            <div class="mobile_content">
                <div class="list_content">
                    <img class="plerk-logo" src="https://www.plerk.io/assets/img/plerk_purple.svg" alt="logo de plerk">
                    <ul>
                        <li><a href="https://www.plerk.io/#/platform">Plataforma</a></li>
                        <li><a href="https://www.plerk.io/#/pricing">Precios</a></li>
                        <li><a href="https://www.plerk.io/#/about-us"> Nosotros</a></li>
                    </ul> 
                </div>
                <div class="button_content">
                    <button @click="signUp" class="sign_up">Regístrate gratis</button>
                    <button @click="login" class="login">Iniciar sesión</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return {
            isActive: false,
        }
    },

    computed: {
        search: {
            get(){
                return this.$store.state.filter.query
            },
            set(val){
                this.$store.commit('SET_QUERY', val)
            }
        }
    },

    methods: {
        menuMobile(){
            this.isActive = true
        },

        close(event){
            if(event.target.getAttribute('class') == 'modal_mobile'){
                this.isActive = false
            }
        },

        signUp(){
            window.location.href = 'https://www.plerk.io/#/signup'
        },

        login(){
            window.location.href = "https://www.plerk.io/#/login"
        }

    }

}
</script>
<style scoped>
.header {
    display: flex;
    justify-content: space-between;
    background-color: #FAFBFF;
    padding: 20px;
    margin: 0px;
}

.menu_mobile {
    display: none;
}

.modal_mobile {
    display: none;
}

.header .header_filter {
    width: 20%;
    margin-left: 5px;
    font-size: 1.5rem;
    padding: 5px;
    color: #5931C9;
    border: #5931C9 0.1rem solid;
}

.plerk-logo {
    width: 54px;
}

.header_button {
    width: 60%;
    text-align: center;
    align-items: center;
}
.header_button ul {

    display: inline-flex;
}

.header_button li a{
    text-decoration: none;
    font-size: 1.6rem;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #2d3958;
    margin: 0px 10px;
    cursor: pointer;
}

li:hover {
    padding-bottom: 2px;
    color: #5931C9;
    border-bottom: 2px solid #5931C9;
}

@media screen and (max-width: 900px){
    .header_button ul {
        display: none;
    }

    .header {
        justify-content: flex-start;
    }

    .menu_mobile{
        display: flex;
        max-width: 20px;
        margin-right: 10px;
        cursor: pointer;
    }

    .header .header_filter {
        width: 80%;
        justify-content: end;
    }

    .modal_mobile {
        display: block;
        position: fixed;
        z-index: 1; 
        padding-top: 100px; 
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%; 
        overflow: auto;
        background-color: rgb(0,0,0); 
        background-color: rgba(0,0,0,0.7); 
    }

    .mobile_content {
        position: absolute;
        width: 30%;
        min-width: 200px;
        height: 95vh;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background-color: #fefefe;
        padding: 22px;
        justify-content: space-between;
        border: 1px solid #888;
    }

    .mobile_content .plerk-logo{
        max-width: 200px;
    }

    .mobile_content .button_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .mobile_content .button_content button {
        width: 90%;
        margin: 5px auto;
        font-size: 1.6rem;
        padding: 8px 16px;
        font-family: 'Montserrat', sans-serif;
        border-radius: 5px;
        cursor: pointer;
    }

    .sign_up {
        background: #5931C9;
        color: white;
        border: none;
    }

    .login {
        border: 1px solid #5931C9;
        background: white;
        color: #5931C9;
    }

    .mobile_content ul li a{
        text-decoration: none;
        font-size: 1.6rem;
        font-weight: bold;
        list-style: none;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        color: #2d3958;
        margin: 0px 10px;
        cursor: pointer;
    }

    .mobile_content ul {
        line-height: 2.8;
        padding: 20px 0px;
    }
}
</style>
