<template>
    <div class="container_loader">
        <div class="loader"></div>
        <img class="plerk_logo" src="https://www.plerk.io/assets/img/plerk_purple.svg" alt="logo de plerk">
    </div>
</template>
<script>
export default {
    
}
</script>
<style scoped>
.container_loader{
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
}

.loader  {
  animation: rotate 1s infinite;  
  height: 50px;
  width: 50px;
}

.plerk_logo{
    animation: image 1s infinite;
    margin-left: 5px;
}

.loader:before,
.loader:after {   
  border-radius: 50%;
  content: '';
  display: block;
  height: 20px;  
  width: 20px;
}
.loader:before {
  animation: ball1 1s infinite;  
  background-color: #5931C9;
  box-shadow: 30px 0 0 #FF8057;
  margin-bottom: 10px;
}
.loader:after {
  animation: ball2 1s infinite; 
  background-color: #5931C9;
  box-shadow: 30px 0 0 #FAFBFF;
}

@keyframes image {
    0% {
        width: 100px;
    }

    50% {
        width: 80px;
    }

    100% {
        width: 100px;
    }
}

@keyframes rotate {
  0% { 
    -webkit-transform: rotate(0deg) scale(0.8); 
    -moz-transform: rotate(0deg) scale(0.8);
  }
  50% { 
    -webkit-transform: rotate(360deg) scale(1.2); 
    -moz-transform: rotate(360deg) scale(1.2);
  }
  100% { 
    -webkit-transform: rotate(720deg) scale(0.8); 
    -moz-transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #5931C9;
  }
  50% {
    box-shadow: 0 0 0 #5931C9;
    margin-bottom: 0;
    -webkit-transform: translate(15px,15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #5931C9;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #5931C9;
  }
  50% {
    box-shadow: 0 0 0 #5931C9;
    margin-top: -20px;
    -webkit-transform: translate(15px,15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #5931C9;
    margin-top: 0;
  }
}
</style>