<template>
    <main class="main_container">
        <div 
            class="cards"
             v-for="p in data"
            :key="p">
            <img class="cards_image" :src="p.image" :alt="p.name.esp">
            <div class="cards_text">
                <h1 class="cards_title">{{ p.name.esp}}</h1>
                <p class="cards_price" v-if="p.category_type == 1">Nuevo - <strong> {{dollarFilter(p.suggested_budget)}} USD</strong></p>
                <p class="cards_price" v-if="p.category_type == 2">Libre - <strong> {{dollarFilter(p.suggested_budget)}} USD</strong></p>
                <p class="cards_price" v-if="p.category_type == 3">Personalizado - <strong> {{dollarFilter(p.suggested_budget)}} USD</strong></p>
                <p class="cards_category">{{p.description.esp}}</p>
            </div>
            <div class="cards_price">
            </div>
        </div>
        <h1 class="not_product" v-if="data == '' || data == undefined">No hay productos disponibles</h1>
    </main>
</template>
<script>
import {dollarFilter} from '../filter'

export default {
    props: {
        data: {
            type : Object,
            default: () =>{}
        }
        
    },

    setup(){
        return {
            dollarFilter
        }
    }
}
</script>
<style scoped>
.main_container {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    background-color: #FAFBFF;
    padding: 20px;
}

.not_product {
    font-family: 'Montserrat', sans-serif;
    color: #5931C9;
    font-size: 2rem;
    padding-top: 10px;
}

.cards {
    position: relative;
    width: 30%;
    max-width: 200px;
    height: auto;
    margin: 30px;
    cursor: pointer;
    background: white;
    border-radius: 25px 25px 10px 10px;
    box-shadow: 0 22px 20px rgb(25 25 0 / 8%);
    overflow: hidden;
}

.cards_text {
    padding: 0px 30px 15px 15px;
}

.cards_image {
    width: 100%;
    max-height: 180px;
}

.cards_title {
    font-family: 'Montserrat', sans-serif;
    color: #5931C9;
    font-size: 2rem;
    padding-top: 10px;
}

.cards_price strong{
    font-family: 'Roboto', sans-serif;
    color: #5931C9;
    font-size: 1.4rem;
    font-weight: 1000;
}

.cards_price {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
}

.cards_category {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 1000;
    line-height: 2.2rem;
    padding: 8px 0px 0px 0px;
}

@media screen and (max-width: 900px){
    .main_container {
        display: block;
    }

    .cards {
        display: inline-flex;
        width: 90%;
        margin: 15px auto;
        max-width: none;
        border-radius: 36px;
    }

    .cards_image {
        max-width: 200px;
        max-height: 200px;
    }
}

</style> 