<template>
  <Loader v-if="loader == true"/>
  <div v-else>
    <Header />
    <MainComponent :data="allData"/>
  </div>
</template>

<script>
import Header from '../src/components/layouts/header.vue'
import MainComponent from '../src/components/main.vue'
import Loader from '../src/components/loader.vue'

export default {
  name: 'App',
  data() {
    return {
      loading: true,
    }
  },

  computed: {
    allData() {
      return this.$store.getters.filteredData
    },

    loader(){
      return this.$store.state.loader
    }
  },


  components: {
    Header,
    MainComponent,
    Loader
  },

  created(){
      this.$store.dispatch('getData')
      this.loading = false
  },
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,100;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:ital,wght@0,100;1,300&display=swap');

* {
  margin: 0px;
  font-size: 62.5%;
  overflow-x: hidden;
}
</style>
